<!-- contact.html -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>contact: Marcos B. Calixto</title>
    
        <link rel="stylesheet" href="../../static/css/style.css">
    </head>
    <body>
        <div class="link_name">Acerca de</div>
        <!-- nav.html -->
        <nav class="menu_principal" id="nav-container">
            <div class="links">
                <div class="link" id="home_link">
                    <div class="color_link""></div>
                    <a href="../home.html">🏠 Inicio</a>
                </div>
                <div class="link" id="about_me_link">
                    <div class="color_link""></div>
                    <a href="./about_me.html">🧑‍💻 Acerca de</a>
                </div>
                <div class="link" id="habilities_link">
                    <div class="color_link""></div>
                    <a href="./habilities.html">🛠️ Habilidades</a>
                </div>
                <div class="link" id="contact_link">
                    <div class="color_link""></div>
                    <a href="./contact.html"> 📨 Contacto</a>
                </div>
            </div>
        </nav>
        <div class="contenedor">
            <h1>Contact</h1>
        </div>
    </body>
</html>