/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#nav-container{
    background-color: rgb(63, 63, 63);
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    padding-top: 1%;
    height: 2.5em;
}
#nav-container a{
    display: inline-block; /* Hace que el enlace sea una caja */
    width: 9em; /* Ancho fijo */
    line-height: 40px; /* Centra el texto verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    color:white;
    border-radius: 7px;
    text-decoration: none;
    font-family: 'Roboto';

    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.2s ease-out;
}

#nav-container a:hover{
    transform: scale(1.07) translateY(-10px);
    background-color:rgb(233, 198, 82);
    color:rgb(66, 66, 66)
}
.contenido{
    padding:20px;
    width: 37em;
    font-family: 'Roboto';
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.contenedor_general{
    padding-top: 4em;
    display: flex;
    justify-content: center;
}


.contenido_general.mostrar {
    opacity: 1;
    transform: translateY(0); /* Se mueve a su posición normal */
}

.fieldset_habilidades{
    border-radius: 10px;

    transition: box-shadow 0.3s ease-out, color 0.5s ease-in-out;
}

.fieldset_habilidades:hover {
    border-color: rgb(145, 184, 202);
    box-shadow: 0 0 10px rgba(100, 123, 134, 0.7); /* Brillo suave */
}

.legend_habilidades{
    background-color:white;
    color: rgb(30, 114, 153);
    padding-left:20px;
    font-size: 110%;
    border-radius: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    transition: box-shadow 0.4s ease-in-out, 0.4s ease-in-out, padding-right 0.4s ease-in-out;
}

.fieldset_habilidades:hover .legend_habilidades{
    padding-right: 5%;
    padding-left: 10%;
    box-shadow: 0 0 10px rgba(100, 123, 134, 0.7);
    
}

.fieldset_habilidades li{
    padding-bottom: 10px;
}

.fa-brands {
    margin-left: 8px; /* Espacio entre el texto y el icono */
    font-size: 18px;  /* Tamaño del icono */
}
.fa-git-alt { color: #F1502F; }  /* Rojo de Git */
.fa-html5 { color: #E34F26; }    /* Naranja de HTML */
.fa-js { color: #e4d145;}       /* Amarillo de JS */
.fa-css3-alt { color: #1572B6; } /* Azul de CSS */

.icon{
    margin-left: 8px;
    height: 20px;
    vertical-align: middle; /* Añade esta línea */
}