<!-- about_me.html -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about me: Marcos B. Calixto</title>
    
        <link rel="stylesheet" href="../static/css/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    </head>
    <body>
        <div class="link_name">Acerca de</div>
        <!-- nav.html -->
        <nav class="menu_principal" id="nav-container">
            <div class="links">
                <div class="link" id="home_link">
                    <div class="color_link""></div>
                    <a href="../index.html">🏠 Inicio</a>
                </div>
                <div class="link" id="about_me_link">
                    <div class="color_link""></div>
                    <a href="./about_me.html">🧑‍💻 Acerca de</a>
                </div>
                <div class="link" id="habilities_link">
                    <div class="color_link""></div>
                    <a href="./habilities.html">🛠️ Habilidades</a>
                </div>
                <div class="link" id="contact_link">
                    <div class="color_link""></div>
                    <a href="./contact.html"> 📨 Contacto</a>
                </div>
            </div>
        </nav>
        <div class="contenedor_aboutme">
            <div class="left_aboutme">Estoy en la izquierda</div>
            <div class="middle_aboutme">
                <div class="titulo_aboutme"><h2>🌟 Resumen de Habilidades y Experiencia 🌟</h1></div>
                <div class="resumen_aboutme"><p style="text-align: justify;">Soy un ingeniero con una sólida formación en <strong>electrónica</strong> y una amplia experiencia en desarrollo de <strong>software</strong> y <strong>hardware embebido</strong>. Mi especialidad está en la programación de <strong>microcontroladores PIC de 8 bits</strong>, donde he trabajado en una variedad de proyectos que requieren un enfoque detallado y preciso. A lo largo de mi carrera, he desarrollado un conjunto completo de habilidades que abarcan tanto el <strong>diseño electrónico</strong> como la <strong>implementación de software</strong> en plataformas embebidas.</p></div>
                <div class="subtitulo_aboutme"><h3 style="margin-bottom: 5px;">🚀 Habilidades Técnicas</h1></div>
                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;">🔋 Electrónica y Sistemas Embebidos:</h4></div>            
                <div class="subparrafo_aboutme"><p style="text-align: justify; margin-bottom: 3px;"><strong>Experto en Microcontroladores PIC de 8 bits</strong>: Programación y desarrollo de aplicaciones embebidas usando microcontroladores PIC (familias <strong>PIC 12, PIC16, PIC18</strong>). He diseñado desde pequeños dispositivos de control hasta sistemas más complejos, asegurando eficiencia y optimización de recursos.</p></div>
                <div class="subparrafo_aboutme"><p style="text-align: justify;margin-bottom: 3px;"><strong>MPLAB X</strong>: Dominio del entorno de desarrollo integrado (IDE) <strong>MPLAB X</strong> para programación en ensamblador y C de Microchip para microcontroladores PIC.<br>Implementación de <strong>interrupciones</strong>, <strong>comunicaciones seriales (UART)</strong>, <strong>PWM</strong>, <strong>ADC</strong>, y otras funcionalidades avanzadas de los PICs.</p></div>
                <div class="subparrafo_aboutme"><p style="text-align: justify;margin-bottom: 3px;"><strong>Simulación y Diseño de Circuitos con Proteus</strong> para validar esquemas y realizar simulaciones antes de la fabricación de hardware.</p></div>
                
                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;"><i class="fas fa-microchip" style="color: brown;"></i> Diseño de Hardware:</h4></div>
                <div class="subparrafo_aboutme"><p style="text-align: justify;margin-bottom: 3px;"><strong>Diseño e implementación de PCBs</strong>: Creación de PCBs usando herramientas como <strong>Ares de Proteus</strong> para implementar circuitos electrónicos que integran microcontroladores PIC.<br>Conocimiento en la interfaz de microcontroladores con <strong>sensores</strong>, <strong>actuadores</strong>, dispositivos de comunicación y otros módulos periféricos (<strong>Wi-Fi</strong>, <strong>Bluetooth</strong>, etc.).</p></div>
            
            </div>
            <div class="right_aboutme">Estoy en la derecha!</div>
        </div>
    </body>
</html>