<!-- about_me.html -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about me: Marcos B. Calixto</title>
    
        <link rel="stylesheet" href="../static/css/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    </head>
    <body>
        <div class="link_name">Acerca de</div>
        <!-- nav.html -->
        <nav class="menu_principal" id="nav-container">
            <div class="links">
                <div class="link" id="home_link">
                    <div class="color_link""></div>
                    <a href="../index.html">🏠 Inicio</a>
                </div>
                <div class="link" id="about_me_link">
                    <div class="color_link""></div>
                    <a href="./about_me.html">🧑‍💻 Acerca de</a>
                </div>
                <div class="link" id="habilities_link">
                    <div class="color_link""></div>
                    <a href="./habilities.html">🛠️ Habilidades</a>
                </div>
                <div class="link" id="contact_link">
                    <div class="color_link""></div>
                    <a href="./contact.html"> 📨 Contacto</a>
                </div>
            </div>
        </nav>
        <div class="contenedor_aboutme">
            <div class="middle_aboutme">
                <div class="titulo_aboutme"><h2>🌟 Resumen de Habilidades y Experiencia 🌟</h1></div>
                <div class="resumen_aboutme"><p style="text-align: justify;">Soy un ingeniero con una sólida formación en <strong>electrónica</strong> y una amplia experiencia en desarrollo de <strong>software</strong> y <strong>hardware embebido</strong>. Mi especialidad está en la programación de <strong>microcontroladores PIC de 8 bits</strong>, donde he trabajado en una variedad de proyectos que requieren un enfoque detallado y preciso. A lo largo de mi carrera, he desarrollado un conjunto completo de habilidades que abarcan tanto el <strong>diseño electrónico</strong> como la <strong>implementación de software</strong> en plataformas embebidas.</p></div>
                <div class="subtitulo_aboutme"><h3 style="margin-bottom: 5px;">🚀 Habilidades Técnicas</h1></div>
                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;">🔋 Electrónica y Sistemas Embebidos:</h4></div>            
        
                
                <div class="subparrafo_aboutme">
                    <ul>
                        <li><p style="text-align: justify; margin-bottom: 3px;"><strong>Experto en Microcontroladores PIC de 8 bits</strong>: Programación y desarrollo de aplicaciones embebidas usando microcontroladores PIC (familias <strong>PIC 12, PIC16, PIC18</strong>). He diseñado desde pequeños dispositivos de control hasta sistemas más complejos, asegurando eficiencia y optimización de recursos.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;"><strong>MPLAB X</strong>: Dominio del entorno de desarrollo integrado (IDE) <strong>MPLAB X</strong> para programación en ensamblador y C de Microchip para microcontroladores PIC.<br>Implementación de <strong>interrupciones</strong>, <strong>comunicaciones seriales (UART)</strong>, <strong>PWM</strong>, <strong>ADC</strong>, y otras funcionalidades avanzadas de los PICs.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;"><strong>Simulación y Diseño de Circuitos con Proteus</strong> para validar esquemas y realizar simulaciones antes de la fabricación de hardware.</p></li>
                    </ul>
                </div>

                
                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;"><i class="fas fa-microchip" style="color: brown;"></i> Diseño de Hardware:</h4></div>
                <div class="subparrafo_aboutme">
                    <ul>
                        <li><p style="text-align: justify;margin-bottom: 3px;"><strong>Diseño e implementación de PCBs</strong>: Creación de PCBs usando herramientas como <strong>Ares de Proteus</strong> para implementar circuitos electrónicos que integran microcontroladores PIC.<br>Conocimiento en la interfaz de microcontroladores con <strong>sensores</strong>, <strong>actuadores</strong>, dispositivos de comunicación y otros módulos periféricos (<strong>Wi-Fi</strong>, <strong>Bluetooth</strong>, etc.).</p></div></li>
                    </ul>
                    
                
                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;"><i class="fas fa-code" style="color: rgb(12, 134, 182)"></i> Desarrollo de Software:</h4></div>
                <div class="subparrafo_aboutme">
                    <ul>
                        <li><p style="text-align: justify;margin-bottom: 3px;"><strong>C</strong> y <strong>Ensamblador</strong> para PIC: Desarrollo y optimización de <strong>firmware</strong> para microcontroladores PIC utilizando C y ensamblador. Dominio de la arquitectura interna y los registros de los PICs para obtener un control preciso y eficiente.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Implementación de algoritmos de control (PID, algoritmos de comunicaciones, control de motores, etc.) y gestión de recursos dentro de un entorno embebido de bajo consumo.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;"></p><strong>Hterm</strong> para monitorear comunicaciones seriales en tiempo real entre microcontroladores y otros dispositivos.</li>
                        <li><p style="text-align: justify;margin-bottom: 3px;"><strong>Tkinter / QTkinter</strong> para interfaces gráficas embebidas y de escritorio.</p></li>
                    </ul>
                </div>
                
                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;">📄 Generación de Reportes Automáticos:</h4></div>
                <div class="subparrafo_aboutme">
                    <ul>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Desarrollo de soluciones para generar <strong>PDFs automatizados</strong> utilizando bibliotecas como <strong>ReportLab</strong> y <strong>FPDF</strong>.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Implementación de informes personalizados, ideal para aplicaciones de monitoreo y análisis de datos.</p></li>
                    </ul>
                </div>

                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;">📊 Análisis de Datos y Control de Versiones 🔢:</h4></div>
                <div class="subparrafo_aboutme">
                    <ul>
                        <li><p style="text-align: justify;margin-bottom: 3px;"><strong>NumPy</strong> y <strong>Pandas</strong>: Experiencia en procesamiento y análisis de datos desde sistemas embebidos (sensores) y su posterior análisis para generar informes.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;"><strong>Git / GitHub / GitLab</strong>: Gestión de versiones, documentación y portafolios técnicos completos.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Automatización de datos con <strong>Excel en la nube</strong>, conectado con <strong>Power BI</strong> para dashboards dinámicos.</p></li>
                    </ul>
                </div>

                <div class="h4_aboutme"><h4 style="margin-bottom: 1px;">🗃️ Big Data y Cloud 🔄:</h4></div>
                <div class="subparrafo_aboutme">
                    <ul>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Manejo de grandes volúmenes de datos mediante SQL adaptado (Google Bigquery).</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Extracción y análisis de series temporales e información IoT.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Integración con Power BI y visualización basada en métricas específicas.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Administración óptima del espacio de trabajo sincronizado.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Comprensión de rutas de usuario sincronizadas (como escritorio, documentos y fotos) para evitar errores de carga y duplicados.</p></li>
                        <li><p style="text-align: justify;margin-bottom: 3px;">Promotor del uso correcto de OneDrive para equipos técnicos y administrativos.</p></li>
                    </ul>
                </div>


            </div>
            <div class="right_aboutme">
                <div class="title_projects_aboutme">
                    Selecciona un proyecto!
                </div>
                <div class="Proyects_aboutme">

                    <div class="Proy_AboutMe" id="PaboutMe_1">
                        <div id="titulo_proy_aboutme_1"><p>Control PWM mediante Señal Analógica</p></div>
                        <div class="contenido_proy_aboutme" id="cpa_me_1">
                            
                        </div>
                        <div style="display:flex; justify-content: center;"><button>Ver más!</button></div>
                    </div>

                    

                </div>
            </div>
        </div>

        <script>
            const PaboutMe_1=document.getElementById("PaboutMe_1"); // Contenedor general del proyecto
            const Cont_Paboutme_1=document.getElementById("cpa_me_1"); //Contenido interno del proyecto
            const title_Paboutme_1=document.getElementById("titulo_proy_aboutme_1");

            PaboutMe_1.addEventListener('mouseover', ()=>{
                Cont_Paboutme_1.style.opacity=1;
                Cont_Paboutme_1.textContent = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
            })

            PaboutMe_1.addEventListener('mouseout', ()=>{
                Cont_Paboutme_1.style.opacity=0;
                Cont_Paboutme_1.textContent = "";
            })
        </script>
    </body>
</html>