<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="width=device-width, initial-scale=1.0">
        <title>contact</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <nav id="nav-container">
            <a href="./home.html">🏠 Inicio</a>
            <a href="./about_me.html">🧑‍💻 Acerca de mí</a>
            <a href="./habilities.html">🛠️ Habilidades</a>
            <a href="./contact.html">📬 Contacto</a>
        </nav>
        <div class="contenedor_general">
            <div class="contenido"><h1>Contacto</h1></div>
        </div>
    </body>
</html>