<!-- about_me.html -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="width=device-width, initial-scale=1.0">
        <title>habilities</title>
        <link rel="stylesheet" href="../static/css/style.css">
         </head>
    <body>
        <nav id="nav-container">
            <a href="./home.html">🏠 Inicio</a>
            <a href="./about_me.html">🧑‍💻 Acerca de mí</a>
            <a href="./habilities.html">🛠️ Habilidades</a>
            <a href="./contact.html">📬 Contacto</a>
        </nav>
        <div class="contenedor_general">
            <div class="contenido">
                <h1>Habilidades</h1>
                <p>Estas son las tecnologías y herramientas con las que trabajo:</p>
                
                <fieldset class="fieldset_habilidades">
                    <legend class="legend_habilidades">Front-end</legend>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades">
                    <legend class="legend_habilidades">Electrónica</legend>
                    <ul>
                        <li>MPLAB X</li>
                        <li>Proteus Design Suite</li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades">
                    <legend class="legend_habilidades">Lenguajes de Programación</legend>
                    <ul>
                        <li>Python</li>
                        <li>C, C++</li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades">
                    <legend class="legend_habilidades">Control de Versiones</legend>
                    <ul>
                        <li>Git</li>
                        <li>GitHub</i>
                        </li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades">
                    <legend class="legend_habilidades">Herramientas de Desarrollo</legend>
                    <ul>
                        <li>VS Code</li>
                        <li>ChatGPT</li>
                        <li>Claude</li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </body>
</html>