<!-- habilities.html -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="width=device-width, initial-scale=1.0">
        <title>habilities</title>
        <link rel="stylesheet" href="../static/css/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        
         </head>
    <body>
        <div class="link_name">Habilidades</div>
        <!-- nav.html -->
        <nav class="menu_principal" id="nav-container">
            <div class="links">
                <div class="link" id="home_link">
                    <div class="color_link""></div>
                    <a href="../index.html">🏠 Inicio</a>
                </div>
                <div class="link" id="about_me_link">
                    <div class="color_link""></div>
                    <a href="./about_me.html">🧑‍💻 Acerca de</a>
                </div>
                <div class="link" id="habilities_link">
                    <div class="color_link""></div>
                    <a href="./habilities.html">🛠️ Habilidades</a>
                </div>
                <div class="link" id="contact_link">
                    <div class="color_link""></div>
                    <a href="./contact.html"> 📨 Contacto</a>
                </div>
            </div>
        </nav>

        
        <div class="contenedor_habilidades" id="cont_hab">
            <div class="lista_habilidades">
                <h1>Habilidades</h1>
                <p>Estas son las tecnologías y herramientas con las que trabajo:</p>
                
                <fieldset class="fieldset_habilidades fldset_frontend" id="fldst_frontend">
                    <legend class="legend_habilidades" id="lgnd_frontend">Front-end</legend>
                    <ul>
                        <li>HTML<i class="fa-brands fa-html5"></i></li>
                        <li>JavaScript<i class="fa-brands fa-js"></i> </li>
                        <li>CSS<i class="fa-brands fa-css3-alt"></i></li>
                    </ul>
                </fieldset>
                <br>

                <fieldset class="fieldset_habilidades fldset_ctrlversiones" id="fldst_ctrver">
                    <legend class="legend_habilidades" id="lgnd_ctrlversiones">Control de Versiones</legend>
                    <ul>
                        <li>Git<i class="fa-brands fa-git-alt"></i></li>
                        <li>GitHub<i class="fa-brands fa-github"></i></li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades fldset_electronics" id="fldset_elctrncs">
                    <legend class="legend_habilidades" id="lgnd_electronics">Electrónica</legend>
                    <ul>
                        <li>MPLAB X<img src="https://i.postimg.cc/ZKk6f0K0/mplabx-icon.webp" class="icon"></li>
                        <li>Proteus Design Suite<img src="https://i.postimg.cc/W1nnfy8d/PDS.webp" class="icon"></li>
                    </ul>
                </fieldset>

                <br>
                <fieldset class="fieldset_habilidades fldset_lengProgamacion" id="fldst_lprog">
                    <legend class="legend_habilidades" id="lgnd_lengProgamacion">Lenguajes de Programación</legend>
                    <ul>
                        <li>Python<img src="https://i.postimg.cc/1zf0t30Q/python-1.webp" class="icon"></li>
                        <li>C, C++<img src="https://i.postimg.cc/CxMVBW67/C.webp" class="icon"></li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades fldset_developertools" id="fldset_dvlptools">
                    <legend class="legend_habilidades" id="lgnd_developertools">Herramientas de Desarrollo</legend>
                    <ul>
                        <li>VS Code<img src="https://i.postimg.cc/x8thQdyz/vscode.png" class="icon" id="VSCode_icon"></li>
                        <li>ChatGPT<img src="https://i.postimg.cc/jjH8K5RS/chatgpt.png" class="icon" id="GPT_icon"></li>
                        <li>Claude<img src="https://i.postimg.cc/2jK7svnx/claude.png" class="icon" id="claude_icon"></li>
                    </ul>
                </fieldset>
            </div>
            <div id="imagenes_habilidades">
                <div>
                    <div class="image-container">
                        <div class="image-wrapper">
                            <img src="#" alt="imagen_1" id="imgHab1">
                            <div class="fade-overlay">
                                <div class="fade-top"></div>
                                <div class="fade-bottom"></div>
                                <div class="fade-left"></div>
                                <div class="fade-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="image-container">
                        <div class="image-wrapper">
                            <img src="#" alt="imagen_2" id="imgHab2">
                            <div class="fade-overlay">
                                <div class="fade-top"></div>
                                <div class="fade-bottom"></div>
                                <div class="fade-left"></div>
                                <div class="fade-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <script>
            const fld1= document.getElementById('fldst_frontend');
            const fld2= document.getElementById('fldst_ctrver');
            const fld3= document.getElementById('fldset_elctrncs');
            const fld4= document.getElementById('fldst_lprog');
            const fld5= document.getElementById('fldset_dvlptools');

            const imgs= document.getElementById('imagenes_habilidades');
            const img1= document.getElementById('imgHab1');
            const img2= document.getElementById('imgHab2');

        
            fld1.addEventListener('mouseover', ()=>{
                img1.src="https://i.postimg.cc/L6G9xXKK/frontend7.jpg";
                img1.style.width='700px';
                img2.style.display='none';
                imgs.style.opacity=1;
            })

            fld1.addEventListener('mouseout', ()=>{
                imgs.style.opacity=0;
            })

            fld2.addEventListener('mouseover', ()=>{
                img2.style.display='inline';
                img1.src="https://i.postimg.cc/kMz16qqY/gitlab.jpg";
                img2.src="https://i.postimg.cc/jSQZFfNB/git.jpg"
                img1.style.width='400px';
                imgs.style.opacity=1;
            })

            fld2.addEventListener('mouseout', ()=>{
                imgs.style.opacity=0;
            })

            fld3.addEventListener('mouseover', ()=>{
                img2.style.display='inline';
                img1.style.display='relative';
                img1.src="https://i.postimg.cc/fRsj4xWC/electronics10.jpg";
                img2.src="https://i.postimg.cc/mDzgpH7y/electronics1.jpg"
                img1.style.width='550px';
                imgs.style.opacity=1;
            })

            fld3.addEventListener('mouseout', ()=>{
                imgs.style.opacity=0;
            })

            fld4.addEventListener('mouseover', ()=>{
                img2.style.display='inline';
                img1.style.display='relative';
                img1.src="https://i.postimg.cc/50zVXc2c/lprog2.jpg";
                img2.src="https://i.postimg.cc/FH9MPpV6/lprog5.jpg"
                img1.style.width='600px';
                img2.style.width='600px';
                imgs.style.opacity=1;
            })

            fld4.addEventListener('mouseout', ()=>{
                imgs.style.opacity=0;
            })

            fld5.addEventListener('mouseover', ()=>{
                img1.style.display='relative';
                img2.style.display='relative';
                img1.src="https://i.postimg.cc/x81jVQKw/lprog3.jpg";
                img2.src="https://i.postimg.cc/ZRhFc7rB/dvlp-Tools-1.jpg"
                img1.style.width='650px';
                img2.style.width='600px';
                imgs.style.opacity=1;
            })

            fld5.addEventListener('mouseout', ()=>{
                imgs.style.opacity=0;
            })
        </script>
    </body>
</html>