<!-- habilities.html -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="width=device-width, initial-scale=1.0">
        <title>habilities</title>
        <link rel="stylesheet" href="../static/css/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        
         </head>
    <body>
        <div class="link_name">Habilidades</div>
        <!-- nav.html -->
        <nav class="menu_principal" id="nav-container">
            <div class="links">
                <div class="link" id="home_link">
                    <div class="color_link""></div>
                    <a href="../index.html">🏠 Inicio</a>
                </div>
                <div class="link" id="about_me_link">
                    <div class="color_link""></div>
                    <a href="./about_me.html">🧑‍💻 Acerca de</a>
                </div>
                <div class="link" id="habilities_link">
                    <div class="color_link""></div>
                    <a href="./habilities.html">🛠️ Habilidades</a>
                </div>
                <div class="link" id="contact_link">
                    <div class="color_link""></div>
                    <a href="./contact.html"> 📨 Contacto</a>
                </div>
            </div>
        </nav>

        
        <div class="contenedor_habilidades">
            <div class="lista_habilidades">
                <h1>Habilidades</h1>
                <p>Estas son las tecnologías y herramientas con las que trabajo:</p>
                
                <fieldset class="fieldset_habilidades fldset_frontend">
                    <legend class="legend_habilidades" id="lgnd_frontend">Front-end</legend>
                    <ul>
                        <li>HTML<i class="fa-brands fa-html5"></i></li>
                        <li>JavaScript<i class="fa-brands fa-js"></i> </li>
                        <li>CSS<i class="fa-brands fa-css3-alt"></i></li>
                    </ul>
                </fieldset>
                <br>

                <fieldset class="fieldset_habilidades fldset_ctrlversiones">
                    <legend class="legend_habilidades" id="lgnd_ctrlversiones">Control de Versiones</legend>
                    <ul>
                        <li>Git<i class="fa-brands fa-git-alt"></i></li>
                        <li>GitHub<i class="fa-brands fa-github"></i></li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades fldset_electronics">
                    <legend class="legend_habilidades" id="lgnd_electronics">Electrónica</legend>
                    <ul>
                        <li>MPLAB X<img src="https://i.postimg.cc/ZKk6f0K0/mplabx-icon.webp" class="icon"></li>
                        <li>Proteus Design Suite<img src="https://i.postimg.cc/W1nnfy8d/PDS.webp" class="icon"></li>
                    </ul>
                </fieldset>

                <br>
                <fieldset class="fieldset_habilidades fldset_lengProgamacion">
                    <legend class="legend_habilidades" id="lgnd_lengProgamacion">Lenguajes de Programación</legend>
                    <ul>
                        <li>Python<img src="https://i.postimg.cc/1zf0t30Q/python-1.webp" class="icon"></li>
                        <li>C, C++<img src="https://i.postimg.cc/CxMVBW67/C.webp" class="icon"></li>
                    </ul>
                </fieldset>
                <br>
                <fieldset class="fieldset_habilidades fldset_developertools">
                    <legend class="legend_habilidades" id="lgnd_developertools">Herramientas de Desarrollo</legend>
                    <ul>
                        <li>VS Code<img src="https://i.postimg.cc/x8thQdyz/vscode.png" class="icon" id="VSCode_icon"></li>
                        <li>ChatGPT<img src="https://i.postimg.cc/jjH8K5RS/chatgpt.png" class="icon" id="GPT_icon"></li>
                        <li>Claude<img src="https://i.postimg.cc/2jK7svnx/claude.png" class="icon" id="claude_icon"></li>
                    </ul>
                </fieldset>
            </div>
            <div class="imagenes_habilidades">
                <div class="Img_hab_frontend">
                    <img src="#" alt="frontend_1">
                    <img src="#" alt="frontend_2">
                </div>
                <div class="Img_hab_ctrlversiones">
                    <img src="#" alt="ControlVersiones_1">
                    <img src="#" alt="ControlVersiones_2">
                </div>
                <div class="Img_hab_electronica">
                    <img src="#" alt="Electronics_1">
                    <img src="#" alt="Electronics_2">
                </div>
                <div class="Img_hab_lengProgamacion">
                    <img src="#" alt="lengProgramacion_1">
                    <img src="#" alt="lengProgramacion_2">
                </div>
                <div class="Img_hab_desarrolloWeb">
                    <img src="#" alt="DesarrolloWeb_1">
                    <img src="#" alt="DesarrolloWeb_2">
                </div>
            </div>
        </div>
        <script>
            const secciones = [
                { fieldset: '.fldset_frontend', imagenes: '.Img_hab_frontend' },
                { fieldset: '.fldset_ctrlversiones', imagenes: '.Img_hab_ctrlversiones' },
                { fieldset: '.fldset_electronics', imagenes: '.Img_hab_electronica' },
                { fieldset: '.fldset_lengProgamacion', imagenes: '.Img_hab_lengProgamacion' },
                { fieldset: '.fldset_developertools', imagenes: '.Img_hab_desarrolloWeb' }
            ];

            secciones.forEach(({ fieldset, imagenes }) => {
                const contenedor = document.querySelector(fieldset);
                const imagen = document.querySelector(imagenes);

                contenedor.addEventListener('mouseenter', () => {
                    imagen.style.display = 'flex';
                });

                contenedor.addEventListener('mouseleave', () => {
                    imagen.style.display = 'none';
                });
            });

        </script>
    </body>

</html>