<!-- nav.html -->
<nav class="menu_principal" id="nav-container">
    <div class="links">
        <div class="link" id="home_link">
            <div class="color_link""></div>
            <a href="./home.html">🏠 Inicio</a>
        </div>
        <div class="link" id="about_me_link">
            <div class="color_link""></div>
            <a href="./pages/about_me.html">🧑‍💻 Acerca de</a>
        </div>
        <div class="link" id="habilities_link">
            <div class="color_link""></div>
            <a href="./pages/habilities.html">🛠️ Habilidades</a>
        </div>
        <div class="link" id="contact_link">
            <div class="color_link""></div>
            <a href="./pages/contact.html"> 📨 Contacto</a>
        </div>
    </div>
</nav>